div>p{
    color:black;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

h2{
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-height: 300px;
    overflow-y : scroll;
}

.mat-dialog-content {
    height: 500px;
}
