<h2>List of texts</h2>
<!-- <button (click)="printing()">click me</button> -->
<ng-container *ngIf="_reload">
<div class="container">
    <div *ngFor="let text of textlists;" >
        <h3>
            <a title="Comments">
                {{text.TextId}}
            </a>
        </h3>

        <p mat-line *ngIf="text.TextContent">
            {{text.TextContent}}
        </p>

        <button mat-button type="button" (click)="seeComment(text)">
        View Comments
        </button>
        <button mat-button type="button" (click)="deleteComment(text)">
        Delete Sample
        </button>
    </div>
</div>
</ng-container>